<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<title>{{ page.title | default: site.title }}</title>

<link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">

<!-- Stylesheets (use relative_url so it works locally AND on Pages) -->
<link rel="stylesheet" href="{{ '/assets/css/atom-one-light.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/001.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">

<link rel="stylesheet" href="{{ '/assets/css/windows.css' | relative_url }}">


<!-- Scripts -->
<script src="{{ '/assets/js/highlight.pack.js' | relative_url }}"></script>
<script>try{hljs.highlightAll();}catch(e){}</script>

