<div id="taskbar">
  <button id="start-btn" aria-expanded="false" aria-controls="start-menu" type="button">
    <img src="{{ '/assets/img/mycomputer.png' | relative_url }}" alt="">
    <span>Start</span>
  </button>

  <div id="task-buttons" role="tablist" aria-label="open windows"></div>

  <div id="taskbar-clock">
    <span id="clock-time">12:00 PM</span>
  </div>

  <div id="start-menu" aria-hidden="true" hidden>
    <ul role="menu">
      <li role="none"><a role="menuitem" href="{{ '/' | relative_url }}">home</a></li>
      <li role="none"><a role="menuitem" href="{{ '/tags/' | relative_url }}">tags</a></li>
      <li role="none"><a role="menuitem" href="{{ '/socials/' | relative_url }}">socials</a></li>
      <li role="none"><a role="menuitem" href="{{ '/guestbook/' | relative_url }}">guestbook</a></li>
      <li role="none"><a role="menuitem" href="{{ '/me/' | relative_url }}">about</a></li>
      <li class="sep" role="separator"></li>
      <li role="none"><button role="menuitem" id="open-dos" type="button">dos prompt</button></li>
    </ul>
  </div>
</div>

