<div id="taskbar">
  <button id="start-btn">
    <img src="{{ '/assets/img/mycomputer.png' | relative_url }}" alt="" />
    <span>Start</span>
  </button>

  <div id="start-menu" aria-hidden="true" hidden>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/tags/' | relative_url }}">Tags</a></li>
      <li><a href="{{ '/me/' | relative_url }}">About</a></li>
      <li class="sep"></li>
      <li><button id="open-dos" type="button">DOS Prompt</button></li>
    </ul>
  </div>

  <div id="taskbar-spacer"></div>
</div>

