<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- Base styles -->
  <link rel="stylesheet" href="{{ '/assets/css/atom-one-light.css' | relative_url }}">

  {% if page.title or page.title == 'me' %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/002.css' | relative_url }}">
  {% else %}
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/001.css' | relative_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">

  <!-- Dark theme overrides -->
  <link rel="stylesheet" href="{{ '/assets/css/dark.css' | relative_url }}">

  <!-- Syntax highlight -->
  <script src="{{ '/assets/js/highlight.pack.js' | relative_url }}"></script>
  <script>try{hljs.highlightAll();}catch(e){}</script>
</head>
<body>
  <div class="wrapper" id="explorer">
    <div class="default_title">
      <img src="{{ '/assets/img/mycomputer.png' | relative_url }}" />
      {% if page.tag %}
        <h1>{{ page.tag }}</h1>
      {% else %}
        <h1>{{ site.title }}</h1>
      {% endif %}
    </div>

    {% include topbar.html %}

    <!-- Window directory panel -->
    <div class="tag_list">
      <ul id="tag-list">
        <li>
          <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/img/disk.png' | relative_url }}" />(C:)
          </a>
          <ul>
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
              <li>
                <a href="{{ '/tag/' | append: tag | first | slugify | append: '/' | relative_url }}">
                  <img src="{{ '/assets/img/folder.ico' | relative_url }}" />{{ tag[0] | replace:'-', ' ' }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

    <!-- Post list / tag page / static page logic -->
    <div class="post_list">
      {% if page.url == '/' %}
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url | relative_url }}">
                <img src="{{ '/assets/img/file.ico' | relative_url }}" />{{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% elsif page.title == 'me' or page.title == '404...' %}
        {{ content }}

      {% elsif page.date %}
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url | relative_url }}">
                <img src="{{ '/assets/img/file.ico' | relative_url }}" />{{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <div class="post_total">
      {% if page.tag %}
        <div class="left">{{ site.tags[page.tag] | size }} object(s)</div>
      {% else %}
        <div class="left">{{ site.posts | size }} object(s)</div>
      {% endif %}
      <div class="right">&nbsp;</div>
    </div>
  </div>

  {% if page.title %}
    <div class="content" id="content-window">
      <div class="post_title">
        <img src="{{ '/assets/img/file.ico' | relative_url }}" />
        <h1>{{ page.title }}</h1>

        <a href="{{ '/' | relative_url }}">
          <div class="btn" title="Close"><span class="fa fa-times"></span></div>
        </a>

        <div class="btn btn_max" id="btn-max" aria-pressed="false" title="Maximize"><span class="fa fa-window-maximize"></span></div>
        <div class="btn btn_min" id="btn-min" aria-pressed="false" title="Minimize"><span class="fa fa-window-minimize"></span></div>
      </div>

      <ul class="topbar">
        <li>{{ page.date | date: '%B %-d, %Y' }}</li>
      </ul>

      <div class="post_content">
        {{ content }}
      </div>
    </div>
  {% endif %}

  <!-- Theme JS -->
  <script src="{{ '/assets/js/001.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/002.js' | relative_url }}"></script>

  <!-- Append theme toggle button -->
  <script>
    (function () {
      var bar = document.querySelector('.topbar');
      if (!bar || document.getElementById('theme-toggle')) return;

      var li = document.createElement('li');
      li.id = 'theme-toggle';
      li.style.cursor = 'pointer';
      li.title = 'Toggle dark mode';
      li.innerHTML = '<span class="fa fa-adjust"></span>&nbsp;Dark';
      bar.appendChild(li);
    })();
  </script>

  <!-- Load toggle logic AFTER button exists -->
  <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>

  <div class="footer">
    <p>© {{ site.time | date: "%Y" }} {{ site.title }}. Theme adapted from Windows-95. Code on
      <a href="https://github.com/viamaximus" target="_blank">GitHub</a>.
    </p>
  </div>
</body>
</html>

